@import "./common.css";
@import "./color.css";

body {
  font-family: "Pretendard-Regular";
  font-size: inherit;
  color: inherit;
  background-color: #a5b6ee;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.tit {
  width: 280px;
  height: 50px;
  padding-top: 60px;
}

.tit .tit-logo {
  width: 100%;
}

#timer {
  width: 400px;
  height: 360px;
  padding: 48px 44px 40px;
  margin-top: 60px;
  text-align: center;
  background: linear-gradient(144.07deg, #5572bb 2.13%, #374b7c 102.97%);
  color: #fff;
  box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
  border-radius: 16px;
  flex-shrink: 0;
}

.timer-tit {
  font-size: 24px;
}

.timer-tit::after {
  content: "";
  display: block;
  height: 1px;
  margin-top: 24px;
  background-color: #3d538a;
}

.time {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 32px;
  gap: 22px;
}

.time p {
  position: absolute;
}

.time .count-box {
  width: 80px;
  height: 80px;
  background: linear-gradient(314.28deg, #304577 0%, #4c65a0 83%);
  border: 1px solid #354971;
  border-radius: 4px;
  margin: 0 auto;
}

.btn-area {
  display: flex;
  gap: 12px;
  margin-top: 40px;
}

.btn {
  display: flex;
  align-content: center;
  width: 112px;
  height: 48px;
  border-radius: 50px;
  background-color: #324577;
  color: #617199;
}

.ico-start {
  width: 11px;
  height: 17px;
  background: url("../assets/incative_start.png");
}

.ico-stop {
  width: 11px;
  height: 17px;
  background: url("../assets/inactive_shape.png");
}

.footer {
  color: #8596bf;
}
